<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все люди</title>
</head>
<body>

<div th:each="user1 : ${user}" >
    <span th:text="${user1.id}"> </span>
    <span th:text="${user1.name}"> </span>
    <span th:text="${user1.lastname}"> </span>
    <span th:text="${user1.age}"> </span>
    <br>
    <a th:href="@{/user/edit(id=${user1.id})}"> Update </a>
    <form th:method="POST" th:action="@{/user/delete(id=${user1.id})}">
        <input type="submit" value="Delete">
    </form>

</div>
<br>
<hr>
<a th:href="@{/user/new}"> Create new user</a>
</body>
</html>